@font-face {
    font-family: 'Moon';
    src: url('/fonts/moonbold-webfont.woff2') format('woff2'),
    url('/fonts/moonbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Moon';
    src: url('/fonts/moonlight-webfont.woff2') format('woff2'),
    url('/fonts/moonlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}